td {
   border: solid white 2px;
}

td.valueCell{
   width: 40px;
   height: 20px;
}

.recommended {
   border: solid green 2px;
}

.error {
   color: red;
}

div.instructions {
   max-width: 1000px;
}

div.extra {
   max-width: 1000px;
}