div.content {
   padding-top: 60px;
}

.chances {
    font-size: 12px;
}

.advArea.current {
   background-color: aliceBlue;
}

.advFormation.cleared {
    background-color: lightGreen;
}

.advFormation.uncleared {
    background-color: lightGoldenrodYellow;
}

div.advAct {
   border: solid black 1px;
   max-width: 450px;
   border-radius: 8px;
   margin: 10px;
   padding: 5px;
   cursor: default;
}

.advAct h3 {
   margin-top: 10px;
}

div.advSection {
   display: none;
   border: solid black 1px;
   max-width: 450px;
   border-radius: 8px;
   margin: 10px 5px;
   padding: 5px;
   cursor: default;
}

.advSection h3 {
   margin-top: 10px;
}

div.advArea {
   display: none;
   border: solid black 1px;
   max-width: 450px;
   border-radius: 8px;
   margin: 10px 10px 10px 0px;
   padding: 5px;
}

div.advFormation {
   display: none;
   border: solid #AAA 1px;
   border-radius: 4px;
   margin: 2px 0px 2px 0px;
   padding: 3px 5px 3px 5px;
}

div.pack {
    border: solid black 1px;
    max-width: 450px;
    border-radius: 8px;
    margin: 10px;
    padding: 5px;
}

div.pack.hasCleared {
   color: black;
}

div.noCleared.pack {
    color: #aaa;
    border-color: #aaa;
    display: none;
}

div.pack.hasUnknown  {
   color: black;
}

div.pack.noUnknown {
   color: black;
}

.packLabel {
   cursor: pointer;
}

div.hasUnknown.pack .packLabel {
    font-wieght: bold;
    margin: 5px 0 5px 0;
}

div.formation {
    color: #999;
    border: solid #AAA 1px;
    border-radius: 4px;
    margin: 2px 0px 2px 0px;
    padding: 1px 0 0 3px;
    cursor: pointer;
}

div.formationDetail {
    border: solid black 1px;
    max-width: 450px;
    border-radius: 8px;
    padding: 5px;
    position: absolute;
    left: 470px;
    display: none;
}

div.cleared.formation {
    color: black;
    border-color: black;
}

.formationNum {
   font-weight: bold;
}

.enemyName {
   font-weight: normal;
}

.enemyName.known {
   font-weight: normal;
}

.enemyName.unknown {
      font-weight: bold;
}

.enemyName::after {
    content: ", ";
}

:last-child.enemyName::after {
    content: none;
}

div.rage {
   border: solid black 1px;
   max-width: 300px;
   border-radius: 4px;
   margin: 2px;
   padding: 2px;
   cursor: pointer;
}

div.rage.known {
    background-color: lightGreen;
}

.glyphicon-expand,
.glyphicon-collapse-down {
   cursor: pointer;
}